$color1											: 	#B6FF00;
$color2											: 	#08150A;
$color3											: 	#ffffff;
$color4											: 	#27ae60;
$color5 										: 	#e74c3c;


$primary    									:   $color1;
$black       									:   $color2;
$white            								: 	$color3;
$green		     						        :   $color4;
$red		     						        :   $color5;